<div ng-controller = 'UserController'>
	<div ng-controller = 'groupController' class="container-fluid">
		Deletar um grupo:
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Delete..." ng-model="nomeGrupo">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click='deletaGrupo(nomeGrupo)'>
					<span class="glyphicon glyphicon-remove">
				</button>
			</span>
		</div><br>
		Seus Grupos:
		<div ng-repeat = 'grupo in groups' ng-if="grupo.dono == user.id">
			<a href='#/grupo/{{grupo.id}}'>{{grupo.nome}}</a>		
		</div>	
		Grupos Ativos:
			<div ng-repeat = 'grupo in groups'>
				<a href='#/grupo/{{grupo.id}}'>{{grupo.nome}}</a>		
			</div>	
	</div>
</div>