<div ng-controller = 'exibiPaginaUsuarioController'>
	
	<!-- informações do usuário -->
	Usuario : {{usuario.nome}}
	<br>
	<img src="images/{{usuario.foto}}" class="img-thumbnail" alt="Responsive image">
	<br>
	Descrição : {{usuario.description}}
	<br>
	Data de Nascimento : {{usuario.birthdate | date: "dd/MM/yyyy"}}
	<br>
	<!-- grupos que o usuario participa -->
	Grupos que participa :
	<div ng-repeat = 'grupo in usuario.grupos_segue'>
		<a href='#/grupo/{{grupo.id}}'>{{grupo.nome}}</a>			
	</div>
	
	<!-- posts bonitoes -->
	Posts:
	<div ng-repeat = 'post in usuario.posts'>
		<label>{{post.text}}  {{post.updatedAt	| date: "dd/MM/yyyy"}}</label>				
	</div>	
</div>



