<style>
			.bs-callout {
				padding: 20px;
				margin: 20px 0;
				border: 1px solid #eee;
				border-left-width: 5px;
				border-radius: 3px;
			}
			.bs-callout h4 {
				margin-top: 0;
				margin-bottom: 5px;
			}
			.bs-callout p:last-child {
				margin-bottom: 0;
			}
				.bs-callout code {
				border-radius: 3px;
			}
			.bs-callout+.bs-callout {
				margin-top: -5px;
			}
			.bs-callout-default {
				border-left-color: #777;
			}
			.bs-callout-default h4 {
				color: #777;
			}
			.bs-callout-primary {
				border-left-color: #428bca;
			}
			.bs-callout-primary h4 {
				color: #428bca;
			}
			.bs-callout-success {
				border-left-color: #5cb85c;
			}
			.bs-callout-success h4 {
				color: #5cb85c;
			}
			.bs-callout-danger {
				border-left-color: #d9534f;
			}
			.bs-callout-danger h4 {
				color: #d9534f;
			}
			.bs-callout-warning {
				border-left-color: #f0ad4e;
			}
			.bs-callout-warning h4 {
				color: #f0ad4e;
			}
			.bs-callout-info {
				border-left-color: #5bc0de;
			}
			.bs-callout-info h4 {
				color: #5bc0de;
			}
</style>

<div ng-controller = 'UserController' class="container-fluid">
	<div ng-controller='ExportController'>
		<div ng-controller='ImportController'>
			<!-- Cabeçalho -->
			<div class="page-header">
				<ul class="nav nav-pills">
				  <li role="presentation" class="active"><a href="#/home">Home</a></li>
				  <li role="presentation"><a href="#/cadastro">Editar Perfil</a></li>
				  <li role="presentation"><a href="#/groups">Criar Grupo</a></li>
				  <li role="presentation"><a href="#/gruposcadastrados">Ver Grupos</a></li>
				  <li role="presentation"><a href="#/usuarioscadastrados">Ver usuarios</a></li>
				  <li role="presentation"><a href="#/paginaexport">Download Dados</a></li>
				  <li role="presentation"><a href="#" ng-click = 'logout()'>Logout</a></li>
				</ul>
			</div>
			<div class='input-group'>
			<a  class="btn btn-info" href="/exportaDados.json" download target="_blank">Download</a>
			</div>
			<br>
			<br>	
			<input type='file' id = 'arquivo'>
			<div class='input-group'>
			<a  class="btn btn-info" ng-click='importar_dados(arquivo)'>Carregar Dados</a>
			</div>
		</div>
	</div>
</div>
